

h1{
    font-family:'sans-serif'
}

.intro{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

.bold{
    font-weight:bold
}
.ren{
    font-size: x-large;
}

.underlyne{
    text-decoration: underline;

}

.italy{
    font-style: italic;
}
    
.color{
    text-decoration: darkslategrey;
}

.paddingSpace{
    padding-bottom: 10px;
}
li{
    padding-bottom:10px
}